.sale_stock_inp_cols
{
	-webkit-box-flex: 0!important;
	-webkit-flex: 0 0 auto!important;
	-ms-flex: 0 0 auto!important;
	flex: 0 0 auto!important;
	width: 13%!important;

}
.sale_stock_inp_cols label
{

	font-size: 13px!important;

}

.payment_type_col,.reason_col,.bank_name_col,.acc_no_col,.cheque_no_col
{
  display: none;
}
