.dashboard-icons
{

  left: 42px!important;
  right: 0px!important;
  width: 24px!important;
  height: 24px!important;
  position: absolute!important;
  top: 42px!important;
  -o-object-fit: cover!important;
     object-fit: cover!important;

}

.table-circular-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  float: left;
}
.table-circular-img img {
  min-width: 60px;
  min-height: 60px;
  width: auto;
  height: 100%;
  position: absolute;
  background-size: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
